services:

  php:
    depends_on:
      mysql:
        condition: service_started

  mysql:
    networks:
      - development
    volumes:
      - ./.infrastructure/volume_data/mysql/database_data/:/var/lib/mysql
    ports:
      - target: 3306
        published: 3306
        mode: host
