services:

  mariadb:
    image: mariadb:11.4
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    environment:
      # Non empty value to generate a random root password
      MARIADB_RANDOM_ROOT_PASSWORD: "1"
      MARIADB_DATABASE: "${DATABASE_NAME}"
      MARIADB_USER: "${DATABASE_USER}"
      MARIADB_PASSWORD: "${DATABASE_PASSWORD}"
